<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="~/template/img/favicon.ico">
    <title>Profile Bootstrap Theme</title>

    <!-- Global stylesheets -->
    <link href="~/template/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="~/template/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/template/css/devicons/css/devicons.min.css" rel="stylesheet">
    <link href="~/template/css/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="~/template/css/style.css" rel="stylesheet">
</head>

<body id="page-top">
    @RenderBody()

    <!-- Global javascript -->
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="~/template/js/jquery/jquery.min.js"></script>
    <script src="~/template/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/template/js/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/template/js/counter/jquery.waypoints.min.js"></script>
    <script src="~/template/js/counter/jquery.counterup.min.js"></script>
    <script src="~/template/js/custom.js"></script>
    <script>$(document).ready(function () {

            $(".filter-b").click(function () {
                var value = $(this).attr('data-filter');
                if (value == "all") {
                    $('.filter').show('1000');
                }
                else {
                    $(".filter").not('.' + value).hide('3000');
                    $('.filter').filter('.' + value).show('3000');
                }
            });

            if ($(".filter-b").removeClass("active")) {
                $(this).removeClass("active");
            }
            $(this).addClass("active");
        });

        // SKILLS
        $(function () {
            $('.counter').counterUp({
                delay: 10,
                time: 2000
            });

        });</script>
</body>

</html>